<html>

<head>
	<title>My first web page for ROS!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">

	</script>
	<script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js">

	</script>

	<style type="text/css">
		#dragstartzone {
			position: relative;
			display: inline-block;
			width: 200px;
			height: 200px;
			border: 1px solid #333;
			border-radius: 50%;
			z-index: 10;
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
		}

		#dragCircle {
			position: absolute;
			z-index: 9;
			border: 1px solid transparent;
			border-radius: 50%;
			background-color: rgba(0, 0, 0, 30%);
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
		}

		#dragCircle:hover {
			background-color: lightcoral;
		}
	</style>
	<script type="text/javascript" src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js">

	</script>

	</script>
	<script type="text/javascript" src="mjpegcanvas.min.js">

	</script>

	<script type="text/javascript" src="https://static.robotwebtools.org/EaselJS/current/easeljs.min.js">

	</script>
	<script type="text/javascript" src="https://static.robotwebtools.org/ros2djs/current/ros2d.min.js">

	</script>

</head>

<body class="d-flex flex-column h-100">
	<!-- header of the page -->
	<header class="header">
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Hello from Robot Ignite Academy!</h1>
				<p>Let's connect our website to a ROS robot!</p>
			</div>
		</div>
	</header>

	<!-- main content -->
	<main id="vueApp">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h3>{{ menu_title }}</h3>
							<hr>
							<label>ROSBridge address</label>
                            <br>
                            <input type="text" v-model="rosbridge_address" />
                            <br>
                            <button class="mt-2 btn btn-success" v-if="connected" @click="disconnect">Connected!</button>
                            <button class="mt-2 btn btn-primary" v-else @click="connect">Connect!</button>
                            <hr>
                            <p>Subscribing robot Data</p>
                            <p>
                                <span>X: {{ position.x.toFixed(2) }}</span>
                                <br>
                                <span>Y: {{ position.y.toFixed(2) }}</span>
                                <br>
                                <span>Z: {{ position.z.toFixed(2) }}</span>
                            </p>
                            <!--Battery Status-->
                            <div class="container">
                                    <h2 class="bg-success" v-show="!batteryLow">Battery Ok</h2>
                                    <h2 class="bg-danger" v-show="batteryLow">Battery LOW</h2>

                                    <div class="progress">
                                    <div class="progress-bar bg-success" :style="bateryBarStyle" id="battery-status" v-show="!batteryLow">{{ battery }}%</div>
                                    <div class="progress-bar bg-danger" :style="bateryBarStyle" id="battery-status" v-show="batteryLow">{{ battery }}%</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="text-center bg-danger" v-show="!connected">Joystick OFFLINE</h2>
                            <h2 class="text-center bg-success" v-show="connected">Joystick ONLINE</h2>
                            <hr>
                            <div id="dragstartzone" @mousedown="startDrag" @mousemove="doDrag" v-show="connected">
                            </div>
                            <div id="dragCircle" :style="dragCircleStyle" v-show="connected"></div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">Joystick values</h2>
                            <hr />
                            <p>Vertical: {{ joystick.vertical.toFixed(3) }}</p>
                            <br />
                            <p>Horizontal: {{ joystick.horizontal.toFixed(3) }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                    <h2 class="text-center">RB-KAIROS BASE CAMERA</h2>
                    <div id="divCamera"></div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <h2 class="text-center">RB-KAIROS ARM CAMERA</h2>
                    <div id="divCamera2"></div>
                </div>

                <div class="col-md-4 text-center my-2">
                    <h2 class="text-center">MAP</h2>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="footer mt-auto bg-dark text-light">
        <div class="container">
            <h5>page ends here!</h5>
        </div>
    </footer>

    <script src="main.js">

    </script>
</body>

</html>