<html>

<head>
	<title>My first web page for ROS!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">

	</script>
</head>

<body class="d-flex flex-column h-100">
	<!-- header of the page -->
	<header class="header">
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Hello from Robot Ignite Academy!</h1>
				<p>Let's connect our website to a ROS robot!</p>
			</div>
		</div>
	</header>

	<!-- main content -->
	<main id="vueApp">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h3>{{ menu_title }}</h3>
							<p>{{ p_content_01 }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="card">
						<div class="card-body">
							<h2 class="text-center">{{ main_title }}</h2>
							<p>{{ p_content_02 }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- footer -->
	<footer class="footer mt-auto bg-dark text-light">
		<div class="container">
			<h5>page ends here!</h5>
		</div>
	</footer>
	<script src="main.js">

	</script>
</body>

</html>